
.idea/.name

.idea/ant.xml

.idea/workspace.xml

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

JpegOrganise.iml

JpegOrganise.iml

JpegOrganise.iml

.idea/encodings.xml

.idea/libraries/Maven__com_adobe_xmp_xmpcore_5_1_2.xml

.idea/libraries/Maven__com_drewnoakes_metadata_extractor_2_6_2.xml

.idea/libraries/Maven__xerces_xercesImpl_2_8_1.xml

.idea/libraries/Maven__xml_apis_xml_apis_1_3_03.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/uiDesigner.xml

.idea/vcs.xml
